body {
  margin: 0;
  padding: 0;
  background: #333;
  color:white;
  font-family: sans-serif;
}
.person{
  display: inline-block;
  margin:10px;
  border: 2px solid wheat;
  padding: 20px;
  box-shadow:0 2px 15px white;
  width: 100px;
  overflow:hidden;
}
